git@github.com:sovereignfs/sovereign-docs.git
git@github.com:sovereignfs/sovereign-healthlog.git
git@github.com:sovereignfs/sovereign-ledger.git
git@github.com:sovereignfs/sovereign-plainwrite.git
git@github.com:sovereignfs/sovereign-sheets.git
git@github.com:sovereignfs/sovereign-shopper.git
git@github.com:sovereignfs/sovereign-tally.git
git@github.com:sovereignfs/sovereign-tasks.git
git@github.com:sovereignfs/sovereign-tritext.git
git@github.com:sovereignfs/sovereign-wallet.git
