.shell {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  flex-shrink: 0;
  overflow: hidden;
}

.main {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.footer {
  flex-shrink: 0;
  overflow: hidden;
}
